<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-02-28T11:52:28Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Nikita_1/Desktop/MyLife/Programming/Projects/SwiftUI_iOS15/SwiftUI_iOS15.xcodeproj</string>
</dict>
</plist>
